[2014-03-05 11:29] #316 closed, assigned to nobody

[2014-03-05 11:36] ibrahimmumcu opened #317 "safari can't handle"
I'm trying this slider on magento e-commerce system. But it's too slow on safari. in Chrome perfectly smoothy.

Example: http://aloom.sekizbit.net/

Can anyone help me?

[2014-03-05 14:38] marcwhitbread commented on #317
@ibrahimmumcu it works in desktop Safari quite well on my end. I'm not seeing any difference (performance wise) between the two browsers on my end. Anything different about your Safari? Are you running an up to date version?

[2014-03-06 08:07] ibrahimmumcu commented on #317
I'm using 5.1.7 version on Windows. I know, windows dont use Safari but this is just test. But you said, it works very well on Safari, mac running. It's ok then.

[2014-03-06 12:49] #317 closed, assigned to nobody

[2014-03-08 11:53] madkrystiank commented on #80
:) algorithms and filosophy can't be patented

[2014-03-12 07:43] cloprime105 opened #318 "slider messy from landscape to portrait"
Hi,
The iosslider is mess when i change the tablet state from landscape to portrait.

I hope you check it asap.

[2014-03-12 12:20] JanMesaric opened #319 "Black twitch/flicker on slide click"
I'm having a problem using an iPad 3 latest version of ios running an app using phonegap 2.7.

When clicking on slider I get a short twitch/flicker that is the same as the size of slider container.

The issue is visible and harms user experience.

Has anyone found a solution?

Sincerely,
Jan

[2014-03-12 13:13] marcwhitbread commented on #319
Is the color produced by `-webkit-tap-highlight-color` by any chance? It shouldn't be occurring on iOS but in PhoneGap I'm not sure.

Try setting:

[code]

[2014-03-12 13:14] marcwhitbread commented on #318
More than likely caused by CSS. When you rotate your device, you have to produce CSS for those responsive states as well.

[2014-03-12 13:14] #318 closed, assigned to nobody

[2014-03-12 15:39] JanMesaric commented on #319
You are right, this solved my problem! Thank you very much

[2014-03-12 15:40] #319 closed, assigned to nobody

[2014-03-12 16:42] Quirksmode commented on #306
Hi,

I am having exactly the same issue, on Android when I try to scroll up and down it locks. The issue only occurs after the slider has been used and increasing horizontalSlideLockThreshold just makes it worse. It works perfectly on iOS.

Getting desperate for a solution as it's the only thing left to fix before I can go live, any help is massively appreciated.

Thanks in advance.

Dave

[2014-03-12 16:44] marcwhitbread commented on #306
Some Android browsers are having serious issues with the touchmove event. In some cases, the touchmove event is only fired once (in stead of every move of the finger on the device). It's causing issues in other functions in the plugin as a result. I am working on a fix currently.

[2014-03-12 16:56] Quirksmode commented on #306
Great news about the fix and thanks for getting back to me so quickly. Any idea of an eta for the fix?

[2014-03-12 16:57] marcwhitbread commented on #306
@Quirksmode strangely enough, I'm working on it today so hopefully not too long. But testing JS on Android can be a bit of a pain.

[2014-03-12 17:17] Quirksmode commented on #306
Yeah, it can be a right bugger, this tool is quite useful for device testing https://github.com/shakyShane/browser-sync

Let me know if you manage to crack it :-)

[2014-03-12 18:04] JBSN commented on #306
I have to say, we just purchased this script for commercial use and he's been awesome in responding to the issues we're having.

Thanks Marc!

JB

[2014-03-12 19:31] irandamay commented on #210
+2

We have a client that requested a dissolve transition rather than a slide one.

[2014-03-12 19:40] homicki commented on #210
+3

[2014-03-13 00:57] cloprime105 commented on #318
I don't think it's the css issue.

I tried the demo slider on your website and local file that I download from
your site, but it's messy, too.

Also it doesn't work well most of the sites.

I think you can check it.

Regards

[2014-03-13 03:51] marcwhitbread commented on #306
I have applied a fix in v1.3.30.

[2014-03-13 21:52] Maarten-1984 commented on #306
I havent been active with that project in a while, but I got email-notifications for this topic.
Tested the fix in v1.3.30 quickly in my project and it seems to work now. At least no majure scroll locks anymore!

Tnx a lot for the fix Marc

[2014-03-18 00:37] locto03 commented on #156
@AndyYoobee I have the same situation like you. After few tries i see that i have not insert the css `height: 100%` for the img which result in img have 0 height at `onsliderloader`. After i did it and initializing the silider within a `$(window).load();` Everything work great again. I think you can try this way also

[2014-03-20 13:35] vraguraman opened #320 "iosSlider: Prevent from dragging last slide to the center"
Hi All,
I am using iosSlider plugin. I want to restrict the last slide to the center by using mouse or dragging.  How to implement this ?

Also, I want to retain the slider positions after the postback.
iosSlider reloads again if any postback happens, I need to maintain all slides positions before the postback happens. How to do that ?

Thanks,

V. Raguraman.

[2014-03-21 02:24] marcwhitbread commented on #320
Center the last slide in the slider? You would use SnapSlideCenter: true for this.

This is not built into the slider. You can store the current slide number in the hash onSlideChange and startAtSlide with this hash on page load.

[2014-03-21 02:24] #320 closed, assigned to nobody

[2014-03-21 09:17] vraguraman commented on #320
Hi Marc Whitbread,

Thanks for your response.

For the 1 Question ,

Actually I want to Prevent / Restrict the last slide to move to the center
by using dragging or mouse wheel. How to do that ?
Even, if I try to drag the last slide to center, it should return back to
the last place automatically.
ie) The last slide should not move to the center by anyway.

For the 2 Question :

Yes, I am storing

[2014-03-21 13:38] marcwhitbread commented on #320
So you want to remove the rubber banding at the end? Not possible unfortunately.

If you are looking to retain the precise offset of the slider through a page refresh, that wont be possible. Only the nearest slide offset can be used.

[2014-03-23 08:27] weblinsolutions opened #321 "Images will only toggle after all images are loaded"
Hi,

I am only able to slide through images only when all images are loaded.
http://www.northwaterstar.com/portfolio/ankita-chatterjee-dushyant-singh-engagement/

Many users will not wait at all and may just close the page out of frustation. Please tell me how can I make the slider to allow toggle without waiting for all images to load.

Thank you.

[2014-03-23 14:34] marcwhitbread commented on #321
Technically, no. You can move the slider before the images are loaded. I just tried it with my mouse and am able to. Mobile devices may have different requirements which are uncontrollable with JavaScript.

If you are using $(document).ready() to fire your initialization, only the DOM is waited for.

What will this accomplish? Users will just end up navigating through blank slides.

Keep in mind t

[2014-03-23 14:34] #321 closed, assigned to nobody

[2014-03-25 14:43] levipadre opened #322 "Responsive slide images with container"
Hi,
How can I use the slider with container and keep the responsive width and height function? (in your examples: /9-Full-Width-Responsive-Height/3-variable-width)
Something like that:

[code]

Just because I need to use another elements around the image (link, title).

Thanks,

[2014-03-25 14:47] marcwhitbread commented on #322
The responsiveness is defined in the CSS, the plugin supports this functionality but doesn't resize elements proportionally for you. What are you trying to do?

[2014-03-25 15:28] levipadre commented on #322
I would like the place a text over the image:
This is your example:

[code]

and I would like to change to this:

[code]

[2014-03-25 15:41] marcwhitbread commented on #322
I understand now. Yes, this is purely a CSS change. I'm not going to go into detail about general CSS issues here but you would follow precisely the same setup as any other responsive implementation.

Take the CSS applied to the img and apply it to the item elements. Then apply width/height 100% to your img elements. Positioning the span to overlap the img element is trivial (position, top/left of

[2014-03-25 15:41] #322 closed, assigned to nobody

[2014-04-02 09:07] frozeman opened #323 "'destroy' method is not cleaning up memory properly"
The slider works great in normal websites, but when you have a web app where the memory never gets refreshed because of page reloads and the slider is removed using the `iosSlider('destroy')` method, memory stacks up.

It seems that image load events and other events and items are not properly cleaned up in the destroy method, which renders this plugin unusable for modern web applications.

[2014-04-02 09:39] ibrahimmumcu opened #324 "GET http://xxx.com/undefined 404 (Not Found) error"
Actually it works very well but in console I got this error. Then I select slider item element I saw this:

< div class="item" style="width: 1905px; float: left; background-image: url(xxx.com/undefined);">< img src="skin/frontend/meigeetheme/default/img/slider/3.jpg" ></div>

Like I said it's working very well but I want to fix this. Any help?

[2014-04-02 13:24] marcwhitbread commented on #324
iosslider doesn't apply any background-image attributes to your slides so it isn't coming from this script. Is that what I am supposed to be looking at?

[2014-04-02 13:39] marcwhitbread commented on #323
How many times are you destroying? Why are you destroying so many times? After destroying, what are you doing with the slider HTML? Reinitializing? I need more information about what you are trying to do.

The best the script can do is unbind the events it attaches, removing the CSS applied, and wiping out the jQuery data stored. All of this is being done on destroy.

I am always looking into perf

[2014-04-02 15:54] ibrahimmumcu commented on #324
Yes, so you saying it happens with other scripts. Right? @marcwhitbread

[2014-04-02 17:10] marcwhitbread commented on #324
I'm saying iosslider isn't applying the background-image so it has to be some other JS.

[2014-04-02 17:10] #324 closed, assigned to nobody

[2014-04-03 08:21] frozeman commented on #323
I build a web app which uses your slider (we also bought a licencse) http://beta.tunedin.de
Its a fat client side web app, means the page never reload, even when you're switching pages. Therefore every time you move to another page the template gets un-rendered, and i call the destroy method. When you switch pages many times, memory stacks up until 600mb (where around 100 is used by the web app it

[2014-04-03 08:22] frozeman commented on #323
I will also digg deeper to find the source of the leak.

[2014-04-03 13:21] marcwhitbread commented on #323
Meaning the elements are removed from the DOM?

Interesting. How are you calculating the amount of memory left over? What tools are you using?

Very interesting snippet of code. I will investigate this further.

Great, let me know what you find. I know the memory problems are related to the images within the slider. But this has more to do with resizing the images already existing on the page base

[2014-04-03 20:19] nicmare commented on #246
probem still exists!! please fix that. iosslider needs at least 3 slides to work properly with infiniteloop. why is the issue closed?!

[2014-04-03 20:25] marcwhitbread commented on #246
@nicmare what issue above are you experiencing? Is the sliding going in the wrong direction? or are the slides not appearing correctly?

[2014-04-03 20:27] nicmare commented on #246
yes. just create an iosslider with two items and infiniteSlider: true.
now if you use api functions for next and prevslides, they go to the wrong directions sometimes:
$(".iosslider").iosSlider('nextSlide');
$(".iosslider").iosSlider('prevSlide');
i use these on anchors

[2014-04-03 20:32] marcwhitbread commented on #246
@nicmare I see it. Can you confirm that if you wait for the slide to come to a complete stop and click next again you see the appropriate behaviour. Just want to make sure we are seeing the same thing.

[2014-04-03 20:36] nicmare commented on #246
marc, if you visit my testserver
and use keyboard right and left keys, you will see that left button moves the slider forward. its the wrong direction!

[2014-04-03 20:41] marcwhitbread commented on #246
@nicmare Fantastic example. I will take a look at the code and fix it.

[2014-04-04 11:55] frozeman commented on #323
Yes. when templates get unrendern on page switches, the whole dom structure is removed by Meteor (most likely using jQuery.remove())

I use Chrome > Developer Tools -> timeline there you can see the memory stacking up, when you switch the page very often (you can also use a script for that, see below)

If you want to try it yourself with beta.tunedin.de run the following in the console

[code]

I

[2014-04-04 12:02] frozeman commented on #323
As reference you can use the following snippet to see how memory should behave on beta.tunedin.de:

[code]

It will go up to ~200mb, but then it goes straight. When you would press the garbage collect button (the trash can upper left) you would be down to ~100mb

[2014-04-04 13:27] ibrahimmumcu opened #325 "Sliders not updating"
I'm getting new image with ajax then I want to apply slider.

First off all I tried destroy slider then put div in slider and then update didnt work.

The second way I tried is removing all slide by one by then apply new div/items in slider then update did not work again.

Is anyone has solution or example?

[2014-04-04 13:30] marcwhitbread commented on #325
All you need to do is add the elements within the slider using append() and then call the update public method.

If your CSS for the slide is in order, it will render correctly. What specifically "didn't work"?

[2014-04-04 13:34] ibrahimmumcu commented on #325
After added new slides the ".slider" class which in ".iosSlider" class has "left: -25326px;
width: 5628px;" style. That's why the slides are not showing up.  @marcwhitbread

[2014-04-04 13:38] ibrahimmumcu commented on #325
In first I have 10 slides. Each one of has 938px width. So being 25326 is so normal (because every slide clonenin 3 times), but after delete all slides and added new 4 slides should reset ".slider" left attribute. Right? @marcwhitbread

[2014-04-04 13:46] marcwhitbread commented on #325
Ignore those left offset values. They are confusing to understand. When in infinite sliding mode, those values can be quite large normally.

What is the height of the slider being calculated to be? Can I see your implementation?

[2014-04-04 13:50] marcwhitbread commented on #323
@frozeman thanks for the information. I will take a look at the tool and see if I can get to the bottom of the memory issues. Focussing on the initialization as the problem most likely resides there.

[2014-04-04 13:50] ibrahimmumcu commented on #325
http://aloom.sekizbit.net/test.html you can check by change the select. @marcwhitbread

[2014-04-04 13:55] marcwhitbread commented on #325
Thanks for the link. Seems like it might be a bug. Can I see your JS that is fired onchange in the select?

[2014-04-04 13:57] ibrahimmumcu commented on #325
You can check by yourself. Right click > Source. :) Starting from line 465 @marcwhitbread

[code]

[2014-04-04 14:32] marcwhitbread commented on #246
@nicmare I have applied a fix for this issue. Please download from master or branch issue/246 and try it out.

[2014-04-04 14:42] nicmare commented on #246
yea. finally! seems to work properly now! thank you marc (you can see it on my testserver).

[2014-04-04 14:44] #246 closed, assigned to nobody

[2014-04-04 18:39] #306 closed, assigned to nobody

[2014-04-04 23:30] owzim opened #326 "option to advance whole slider width rather that just slide width"
It'd be great if there was an option to make the drag snapping, `.iosSlider('prevSlide')` and `.iosSlider('nextSlide')` move the slider not just the amount of pixels of a single slide, but the whole slider width.

Use case:
If I have say 6 slides showing within the width of the slider I don't want to just move the slider the tiny width of one slide but the whole pack.

Is this currently possible s

[2014-04-07 04:03] marcwhitbread commented on #323
@frozeman have you taken a look at your heap snapshot after garbage collection? Looks like some of the memory problems are a result of detatched DOM tree nodes. These aren't being left behind in an iosslider only test. Have you taken a look at these orphaned nodes?

[2014-04-07 07:51] frozeman commented on #323
Meteor's blaze, which is used for the template rendering takes care of the DOM nodes manipulation. Could be that it keeps them for a while.

Where do you noticed those and what kind of test setup you did create?
Could you point me to the nodes, or the piece of code where you noticed that?

[2014-04-07 13:02] marcwhitbread commented on #323
I used your web page, let it refresh a few times using the script you provided, then forced garbage collection by clicking the trash can. Under the profile tab, take a heap snapshot. You will see all the detached nodes left behind.

[2014-04-07 22:44] #290 closed, assigned to nobody

[2014-04-07 22:44] #281 closed, assigned to nobody

[2014-04-08 02:30] marcwhitbread opened #327 "-webkit-backface-visibility: hidden causing performance issues on iOS"
When a lot of slides are present, the -webkit-backface-visibility: hidden; attribute applied slides on initialization are causing a severe spike in memory usage and crashing Safari.

[2014-04-08 16:13] frozeman commented on #323
Thanks for this interesting lead. I will look into this.

[2014-04-08 20:22] marcwhitbread commented on #327
Fix proposed in v1.3.36

[2014-04-08 20:22] #327 closed, assigned to nobody

[2014-04-08 20:23] marcwhitbread commented on #283
I have proposed a fix for this issue in v1.3.36. See issue #327. Deployed on master.

[2014-04-08 20:23] #283 closed, assigned to nobody

[2014-04-08 20:24] #308 closed, assigned to nobody

[2014-04-08 20:31] marcwhitbread commented on #287
I believe I have a fix for this issue in v1.3.36. Ref issue #327. Merged to master.

[2014-04-08 20:31] #287 closed, assigned to nobody

[2014-04-10 14:43] marcwhitbread commented on #325
I think I might have figured out why I can't reproduce this issue... you are running a very old version of iosslider (v1.0.35 from late 2012). I can only assume this is the problem. Please update to the latest version and let me know if the slider is now updating correctly.

[2014-04-10 14:43] #325 closed, assigned to nobody

[2014-04-10 14:51] marcwhitbread opened #328 "Add ability to click scrollbar block to page left and right"
When clicking the scrollbar container outside the scrollbar itself, the slider should page back and forward like the browser scrollbar.

Add setting to toggle behaviour: scrollbarPaging (boolean) default: false.

[2014-04-10 14:53] marcwhitbread commented on #326
This isn't currently possible but not too difficult to implement I don't think.

I am looking into adding `.iosSlider('nextPage');` and `.iosSlider('prevPage');` to support this behaviour.

[2014-04-11 14:50] marcwhitbread commented on #326
Public methods now available. Will merge into master.

[2014-04-11 15:17] #326 closed, assigned to nobody

[2014-04-12 01:36] marcwhitbread commented on #328
Merged fix to master.

[2014-04-12 01:36] #328 closed, assigned to nobody

[2014-04-14 17:29] jamjia opened #329 "Dynamically passing value into goToSlide from the index value of an array"
Hi there,

I want to create a bunch of shortcuts using a anchor tag but give it a class of "shortcut". I then want to loop through these with the jQuery each method and then binding each to a click event. So that on click, I will then trigger the goToSlide by passing the index value +1 to the slideNum. Here's my code, below. The problem is that I'm constantly getting a TypeError: undefined is not

[2014-04-14 17:31] marcwhitbread commented on #329
Missing an "r" in the plugin name "iosSlider".

[2014-04-14 17:39] jamjia commented on #329
@marcwhitbread thank you!

[2014-04-14 17:39] #329 closed, assigned to nobody

[2014-04-14 18:23] marcwhitbread opened #330 "Navigation using nextPage/prevPage scrolling on WebKit"
Odd visual behaviour in scrollbars and infinite slider area on WebKit browsers only.

[2014-04-14 18:46] #330 closed, assigned to nobody

[2014-04-16 18:52] marcwhitbread opened #331 "hardwareAccelBuffer not applying to short slides on initialization"
An issue is occurring where -webkit-backface-visibility: hidden is not being applied to early slides when only a few slides are present.

This is causing rendering issues on early Android versions (2.3.x).

[2014-04-16 19:34] #331 closed, assigned to nobody

[2014-04-21 17:42] marcwhitbread opened #332 "Ability to set animation speed by parameter in public navigation methods"
Add optional parameter to goToSlide, nextSlide, prevSlide, nextPage, prevPage which accepts an integer which represents the animation duration in milliseconds.

[2014-04-22 14:14] marcwhitbread opened #333 "Prevent keyboardControls: true from navigating when using input"
Add check to keydown event.

[code]

[2014-04-22 14:27] #333 closed, assigned to nobody

[2014-04-29 12:44] JanMesaric opened #334 ""Jumping" slides when startAtSlide is defined"
I'm experiencing an issue that when I defined startAtSlide for example: 10, the slider gets loaded at slide 1 and waits(I think) for all other slides to load. That means that slide 1 is being shown during the loading period which can take up to half a second. After it is loaded it jumps to the correct slide, which I've defined.

[2014-04-29 13:13] marcwhitbread commented on #334
This is all pre-DOM ready `$(document).ready()` or page ready `$(window).load()` depending on which you are using. iosSlider has no control over this. What you can do is apply a style of `opacity: 0;` to your iosslider element and on your onSliderLoaded callback you can remove the opacity to remove the undesired preloading from the UI.

[code]

[2014-04-29 13:13] #334 closed, assigned to nobody

[2014-05-02 18:17] nguyenDalex commented on #16
+1

[2014-05-05 12:29] mitrovics opened #335 "iOSSLider and responsive"
Hello,
i just discovered this graet slider. And i am planing to buy it probably some extended licence to server etc. But i have problem. Can i set responsive height and width of slide? because in examples i downloaded width is fixed 900px and height 300px. When i put 100% slider does not work?
Thanks!

[2014-05-05 13:16] marcwhitbread commented on #335
@mitrovics Take a look at the responsive height examples in _demos/_examples/9-Full-Width-Responsive-Height

You will need to leverage the padding-bottom % approach in your CSS. Let me know if you have any questions.

[2014-05-05 13:16] #335 closed, assigned to nobody

[2014-05-09 10:42] JanMesaric commented on #334
Very nice solution, thanks!

[2014-06-12 09:04] puneetbahuguna commented on #306
Hi marcwhitbread.  I am getting an issue with this iosslider in Iphone3. when i am using combined horizontal and vertical scrolling simultaneously then on quick vertical scrolling through the list its horizontally moving to the next slide. Can you please suggest on this.

[2014-06-12 12:14] SGudbrandsson opened #336 "Javascript error when concat+minified by external minifiers"
Hi.

I found a bug in the iosslider minified javascript code, jquery.iosslider.min.js.
The bug presents itself when the minified code is being concatenated and minified by external minifiers.

The bug appears twice in the minified version of the code:
"- -1_T" turns into "--1_T"

To fix this manually, I replaced the following code:
"- -1*T" -> "+T"

Cheers,
 Siggy

[2014-06-12 12:35] marcwhitbread commented on #336
Where in the code does this issue occur?

[2014-06-12 12:43] marcwhitbread commented on #306
@puneetbahuguna your issue is unrelated to this one.

[2014-06-12 12:47] SGudbrandsson commented on #336
https://github.com/iosscripts/iosslider/blob/master/_src/jquery.iosslider.min.js

I suspect that this has to do with this code, "-1 -", found on the following lines in https://github.com/iosscripts/iosslider/blob/master/_src/jquery.iosslider.js:
194
289
1539
1656
2229

[2014-06-12 13:08] marcwhitbread commented on #336
Which minifier causes these issues? Closure does not produce these problems.

[2014-06-12 13:15] SGudbrandsson commented on #336
JSMin (which is the default minifier in W3 Total Cache for WordPress).
You can test it here: http://fmarcia.info/jsmin/test.html

[2014-06-12 13:21] marcwhitbread commented on #336
Good to know. I will run some tests against this minifier as well and see if I can iron out the issues.

[2014-06-12 13:22] SGudbrandsson commented on #336
Awesome, thanks :+1:

[2014-06-12 13:22] #336 closed, assigned to nobody

[2014-06-18 02:11] marcwhitbread opened #337 "Animation locks on update during slide"
When an automatic slide is ongoing and update is called, the slider locks up.

[2014-06-18 02:27] #332 closed, assigned to nobody

[2014-06-18 02:27] #337 closed, assigned to nobody

[2014-06-24 15:02] lowedown opened #338 "Browser Freeze when no slides are defined"
This line in slowScrollHorizontalInterval leads to an infinite loop when sliderMax[sliderNumber] is 0 and newOffset is 0 causing the browser to freeze.

[code]

This would happen, when we didn't have any slides defined.

[2014-06-24 15:03] marcwhitbread commented on #338
So you are initializing a slider with no slides?

[2014-06-24 15:23] lowedown commented on #338
That's one scenario when it happened. We made sure that we always have slides defined, but it would also happen sometimes with slides... possibly because our CMS injects some markup. I couldn't exactly figure out why it happens, because the browser always hangs, but if an infinite loop would be prevented, the problem would be solved.

[2014-06-24 15:29] marcwhitbread commented on #338
Thanks for the info. I will take a look at it.

[2014-07-08 16:25] alanbalcazar opened #339 "iosSlider link buttons to items"
I need to go to a specific item on a hyperlink on page load or run some slide or item.

[2014-07-08 17:24] marcwhitbread commented on #339
This is not built in. You can use a name/value pair in the URL to assign a value to the startAtSlide setting. Some custom JS is required.

[2014-07-08 17:24] #339 closed, assigned to nobody

[2014-07-10 22:30] theloveofcode commented on #133
Put me down as having this problem as well.

[2014-07-17 09:42] unematiii opened #340 "Need advice"
What would be the easiest way of adding horizontal gap between slides, say 20px, while preserving responsivness and without losing space (setting margin or padding decreases the width of the .slide div)?

I have

[code]

 and

[code]

[2014-07-17 13:07] marcwhitbread commented on #340
You want a 20px gap off screen in between slides?

[2014-07-17 13:24] unematiii commented on #340
Actually slightly more, double than this. For 20px, I could just set padding-left & right. Unfortunately, adding more would shrink the div too much on small res. devices. I'm using v1.3.24 (12/19/2013, commercial licence).

[2014-07-17 13:27] marcwhitbread commented on #340
What about bumping the .iosslider element out the extra px you need and adding margin-left/right to the slides? For small devices, use a media query to set the margin to something smaller.

It's still hard to visualize what you are trying to do so I apologize if I'm off base.

[2014-07-17 13:47] unematiii commented on #340
Imagine you have a reponsive slider on iPhone (fills the entire screen), the .slide divs are positioned side by side if no margin or padding is applied. I could add 10px of padding to both sides, however I'd like the spacing between the slides to be at least 40px. Adding margins to right/left would just make the slide smaller and leave the extra empty space visible on screen.

[2014-07-17 13:49] unematiii commented on #340
Would setting the margin(s) &  manually resizing the .iosslider element to desired width (oldWidth + noOfSlides \* 40) do the trick? When should I resize the container, on sliderLoad?

[2014-07-17 13:56] marcwhitbread commented on #340
I think what you will need to do is create an element outside your slider:

[code]

And some LESS:

[code]

Maybe something like that?

[2014-07-21 16:12] StarSpun opened #341 "Help Needed 'Uncaught ReferenceError'"
Moved to support.

[2014-07-24 08:43] #341 closed, assigned to nobody

[2014-07-28 07:21] unematiii commented on #340
Thank you very much! That did the trick!

[2014-07-28 07:21] #340 closed, assigned to nobody

[2014-08-03 21:29] jamalsoueidan opened #342 "Slide page"
Hello,

I have 9 elements in the iosSlider, and I would like to slide 3 elements at the time, right now it slide only 1 at the time.

I tried with.

[code]

It throws an error:

[code]

How can I make the slider show 3 new elements everytime?

Thank you.

[2014-08-03 22:05] marcwhitbread commented on #342
Invalid method call would imply that the function does not exist. What version are you using?

[2014-08-04 16:38] jamalsoueidan commented on #342
This version
- Version: v1.3.24 (12/19/2013)

[2014-08-04 16:52] marcwhitbread commented on #342
This method was added later (v1.3.37). f63250cdd727fc3b08647e15b1d16c59de847d1d

[2014-08-04 16:52] #342 closed, assigned to nobody

[2014-08-13 16:42] sbaechler opened #343 "Tag your releases"
This way it is easier to keep track. It's also easier to use a dependency management system such as Bower.

`git tag -s v1.3.44`
`git push --tags`

[2014-08-14 09:27] levipadre opened #344 "Remove and add items"
Hi,

Is it possible to remove and after add some items to the same place (like a filter) using the removeSlide and addSlide methods? For example the filter is 3 links (ID: group1, group2, group3). And every item has a class (group1, group2 or group3).
If I click a filter link, the other items disappear.
If I click the other filter link, the previous items come back, and the others disappear.
I kno

[2014-08-15 00:09] marcwhitbread commented on #344
I recommend using jQuery to add/remove the slide elements you need and then simply call the `update` method to recalibrate based on the new slider contents. That way, you can have full control to do whatever you need.

[2014-08-30 21:54] snshn opened #346 "Dynamic slides, .iosSlider('update') and autoSlide + Meteor.js"
There's a slight modification I'd like to suggest around line 985:

[code]

this prevents the slider from scrolling to non-existent slides if switched from 3 slides to 2 dynamically via `.iosSlider('update');`. The "for()" loop takes care of the dots on the bottom to behave properly.

I'm using Meteor.js so here's part of my code where I re-apply the settings which aren't being remembered btween t

[2014-08-30 22:27] snshn commented on #346
Seems to be causing an infinite loop which hangs the browser after some time.
I'm still looking for a solution to terminate the autoSlide for 1-node sliders upon update.

[2014-09-11 10:37] kurdt94 opened #347 "Multiple Sliders How to ?"
How to use multiple sliders on one page ?

edit :
fixed it with $(settings.navPrevSelector, $this.parent())

[2014-09-11 13:38] #347 closed, assigned to nobody

[2014-10-22 21:06] mrse commented on #133
Having issues with this slider on iPhone.  I only have 1 image in the slider which is a clickable/linked image.  When the image is clicked, you should be taken to the specific product.  However, on iPhone, when image is clicked, the image just bounces and reloads without taking you to product page.  Please help!

[2014-10-28 14:47] ashack293 commented on #16
+1

[2014-11-13 13:15] portfolioris opened #348 "Slow on iOS"
I am noticing a significant stutter in the iosslider, on all my devices (iPad Air, iPhone 5). I noticed this just recently, might it be an issue since iOS 8? If you look at RoyalSlider or bxSlider, they run a lot smoother.

[2014-12-06 02:13] reynoldsalceda commented on #338
For emtpy slides, may be you can apply this workaround:

[code]

I am also having the browser freezing issue when I set the slider's style to display:none for mobile as client wants it that way.

[code]

So for those who might stumble into similar case, I have initialized the slider like this to fix the issue:

[code]

Hope that helps :)

[2015-02-01 05:18] notor opened #349 "iOsSlider takes forever to load"
It seems iOsSlider doesn't fully load until the entire page and all images are finished loading.

I've got a slider with about 15 images in it. If I load the page on broadband speed it's fine, but if the internet is slow it takes ages for the slider to gain its "swipe" functionality.

Is there any way to get the slider to function before the entire page is finished loading?

Thanks for your reply.

[2015-02-02 17:38] notor opened #350 "iOsSlider breaks when device is rotated"
Try rotating the device on the iosscripts.com/iosslider page. It breaks the slider.

:(

[2015-02-02 19:33] marcwhitbread commented on #349
Put your initialization in $(document).ready(); That fires on DOM ready, so before any images.

[2015-02-02 19:33] #349 closed, assigned to nobody

[2015-02-02 19:37] marcwhitbread commented on #350
Responsive states have not been defined for all resolutions so this might be the reason. The script fully supports responsive techniques: media queries, % based sizing. Some android devices have a bug in their rotation where the device width is incorrectly reported, which breaks the recalibration calculations.

[2015-02-02 19:49] notor commented on #349
Currently it looks like:

[code]

(...)

So that's firing on DOM ready, right?

[2015-02-02 22:30] notor commented on #349
So in my Chrome DevTools Network waterfall I see iosslider nice and near the top. But I just verified that the sliding and the responsiveness of the slider don't initiate until the very last image has loaded. I used Fiddler to emulate a slower internet connection to confirm this.

Any ideas?

[2015-02-02 22:47] notor commented on #321
I just tried with my mouse and I could not move his slides until they were all fully loaded. I am on Win8.1 using Chrome 40.0.2214.93. So something is going on. On his website, and mine, until the final image is loaded it just. doesn't. work. Here is a video demonstrating.
[https://www.youtube.com/watch?v=dqts71o6Tok](https://www.youtube.com/watch?v=dqts71o6Tok)

Blank slides that are loading is b

[2015-02-23 08:43] BjornFridal opened #351 "Last slide loads after the other slides."
Hi,

I have a slider with 18 slides, that will show 6 slide items per view. On the initial load the last item always just appears 1/2 second after the rest of the items. I am quite sure it because iosSlider is calculating how many items it should show per view. If I remove all margin from the items, then it loads perfect.

Any tips on how to work around this would be appreciated.

Cheers
Bjørn

[2015-03-06 22:50] #218 closed, assigned to nobody

[2015-04-10 19:04] jimahyland commented on #56
Sorry to reopen this. I have the same issue as @christabella76 . I've got multiple slides on the slider, so the currentSlideNumber never gets to the last one. I guess I need to something with currentSliderOffset, maybe. What do you recommend?

[2015-04-17 17:16] FMVanity commented on #54
Hello, I found this and it helped me a lot, but I have a problem, how can I access the child elements of the currentSlideObject??

NVM, I didn't read the comment above, it helped me too :)

[2015-05-02 00:58] FMVanity opened #352 "How to detect if user is dragging left or right???"
I need to fire an event if the user is dragging the slider to the left, and another event if the user drag  the slider to the right side, how can I do this?

[2015-06-10 12:23] dmarkova opened #353 "e"

[2015-06-10 14:08] dv247 opened #354 "JQuery UI Tabs with IOSSlider causing images not to load"
Using the IOSSlider plugin with JQUery UI is causing the slider to not load images when clicking away to another tab then clicking back to the tab where the slider is present.

Here is the code:

[code]

Is there a setting to fix this or any other solution?

[2015-06-10 14:12] marcwhitbread commented on #354
Most likely has nothing to do with jQuery UI. When you initialize the slider in a hidden element it wont be able to calibrate properly. When you switch to the tab with iosslider in it, call the update method to recalibrate.

[2015-06-11 00:15] #353 closed, assigned to nobody

[2015-06-11 11:21] dv247 commented on #354
Do you mean this?

[code]

[2015-06-11 12:28] marcwhitbread commented on #354
Yes

[2015-06-11 12:41] dv247 commented on #354
This works but is stuck on the last slide that was showing. The carousel no longer runs when tab 1 is clicked.

[2015-06-12 10:08] dv247 commented on #354
Adding the following after the update seems to kick-start the carousel:

[code]

[2015-06-22 12:51] LagunaCompany opened #355 "Remove jQuery dependency"
Hi,

I searched the issues here and couldn't find anything about this, but I was wondering: would it be worth re-factoring iosSlider so it doesn't require jQuery?

I can see a good case for this with some work projects I'm involved in, but I would love to hear what others think, as I know it would entail a major overhaul of the plug-in.

[2015-06-22 13:00] marcwhitbread commented on #355
Definitely not impossible to do. This plugin would be easier to port than most others due to the fact that all of the animations are formulated from within the plugin (without jQuery.animate() or CSS3 transitions).

[2015-06-23 09:53] michalkot opened #356 "Incompatible with box-sizing"
If slider items have box-sizing: border-box then the iosSlider resizes them to content width (making them smaller if they had any padding). This is not mentioned anywhere in the documentation and could lead to potentially harmful workarounds.

[2015-07-21 20:57] LinzardMac commented on #301
I have to +1 for this!!!!

[2015-08-25 19:54] syuan100 commented on #16
+1

[2015-09-25 20:30] stephendeo commented on #350
I get these same exact issue on Galaxy Note 3. I'm assuming is based on what @marcwhitbread is saying. Is there a work around for this?
Edit: I'm using Chrome on my android.

[2015-11-03 09:54] meredevelopment opened #357 "Disabling OS swipe/scroll when implementing mousewheel support."
Hi, I'm using version 1.3.43 of iosSlider with https://github.com/jquery/jquery-mousewheel as described in this issue: https://github.com/iosscripts/iosslider/issues/58 .

When using a magic mouse or trackpad in MacOS (Windows users, does it happen for you too?) and swiping/scrolling left or right the browser wants to go forward or back a page. This can be disabled in the OS, but of course I can't

[2016-03-12 06:49] #295 closed, assigned to nobody

[2016-08-04 11:34] VitaliyAT commented on #288
I think here will be ask for combine vertical and horizontal scrolling for different width of screen. For example on wide monitors it looking better horizontally, but on phones it will be vertical. can be other rezones, but we put in options some variable that make "point of width" like a gate between them. or better function to rebuild it to vertical and user will do it by himself (maybe it will

[2016-08-04 11:48] VitaliyAT opened #358 "It's work on jQuery 3.1.0 without migration"
Spend a lot of time for recognize it and try. No info in readme or somewhere else. Right now I understand that maybe somewhere in GitHub's commits it can be, but I din't check yet. Few times without luck, and start think that it's not compatible, after that spend time with migration libs... Finally should say it directly compatible with 3.1.0. If you have problems with it:
1) try find "size()" in

[2016-08-04 11:48] #358 closed, assigned to nobody

[2016-08-04 20:10] VitaliyAT opened #359 "Gap between slides"
Can't understand how I can do gap (space) between slides like on www.iosscripts.com/iosslider/ And by what logic it realized. Margings is AUTO. If I change margings by additional css or script I loose grid - one slide go on another.

From examples: comparing 7-1 and 7-2 I see only stageCSS option, if comment it - nothing happened.  In 7-2 I see that pictures on background have width 900px actual s

[2016-08-05 10:15] VitaliyAT opened #360 "Installation through bower"
1) Why it's
`bower i iosslider`
if it's plugin for jquery? It should be
`bower i jquery.iosslider`
2) Why it's only in bower library? I need install bower just for this plugin. Why not in npm? Jquary can, and jquery.easing can.
`npm i jquery.iosslider`
would be better. Why not?
With bower it's "house (bash/cmd) in house (nodejs) in house (npm) in house (bower)".

[2016-08-05 23:27] levipadre commented on #276
Hi @ericbeekman,
Can you recall how did you managed the lazy loading problem? I tried jquery.appear, but nothing happend:

[code]

Can you help me a bit?

[2016-08-08 05:54] ericbeekman commented on #276
Hi @levipadre,

I did use appear. For every slider container and for every slide in the slider.

The loading of the initial iosSlider on appear and ondissapear destroying it as well, but remembering the active slide for a possible reinit.

When it was loaded I also used lazy loading on the images on slides. The slides are div elements containing a data-src attribute with the src URL. On appear I c

[2017-02-15 21:00] vanool opened #361 "Slider doensn't work on page load"
First of all awesome that you made these sliders!

Unfortunately I have a issue with the slider. If you go to this link http://nielsvt.remvoo.com/ and then click on portfolio you'll see the slider at the bottom of the page.

The problem where i'm dealing with is that the slider doesn't work on page load, but when you resize the browser the slider suddenly works. The only thing I changed is: I adde

[2017-03-24 19:40] hz-stevec commented on #97
Why is this closed? it's not fixed...

[2017-06-10 06:53] sprohorov commented on #332
Hi, marcwhitbread!
Help me make links to each slide to work on the mobile version.
The TAP command does not transition the link.
Click the mouse working well.
Help me please

[2017-07-01 17:11] sheetal-mandyal opened #362 "Can I add two slides in center and two on corners?"
Hello,
I am using iosslider in my wordpress theme and I want the slider to show two main slides in center two others on the corners, right now I have modified the css and the slider is coming up like this-
![current-slider](https://user-images.githubusercontent.com/26415457/27764047-a9fb2636-5e7f-11e7-8307-9381af836044.png)
It's showing three images, but I want it to come up like the image below-

[2019-10-31 12:50] Tofandel commented on #338
Same issue here, a slider is always initialized but displayed none with media queries (to not appear on mobile)

When you resize the page and the slider gets hidden the browser completely freezes

[2019-10-31 13:01] Tofandel commented on #338
@reynoldsalceda You shouldn't redo the initialization on resize, the following will work

[code]

[2019-10-31 13:28] Tofandel commented on #338
Located the issue and made a PR